{% extends "layout.html" %}

{% block content %}
<div id="user_id" hidden="true">{{ user_id }}</div>

<!-- Follower list -->
<div class='flex flex-col min-h-screen p-16 bg-gray-100'>
    <div class="heading text-center font-bold text-2xl m-5 text-gray-600">Followers</div>

    <div id="follower-list" class='user-list w-full max-w-lg mx-auto bg-white rounded shadow flex flex-col py-4'>
        <!--User row -->
    </div>
</div>

<script>
    $(document).ready(function () {
        user_id = $("#user_id").text()

        $.get(`/api/user/${user_id}/followers`, function (data, status) {
            for (i = 0; i < data.length; i++) {
                $("#follower-list").append(`
            
                <div
                    class="user-row flex flex-col items-center justify-between cursor-pointer  p-4 duration-300 sm:flex-row sm:py-4 sm:px-8 hover:bg-[#f6f8f9]">
                    <div class="user flex items-center text-center flex-col sm:flex-row sm:text-left">
                        <div class="avatar-content mb-2.5 sm:mb-0 sm:mr-2.5">
                            <img class="avatar w-20 h-20 rounded-full"
                                src="{{ url_for('static', filename='instagram-profile-icon.png') }}" />
                        </div>
                        <div class="user-body flex flex-col mb-4 sm:mb-0 sm:mr-4">
                            <div class="title font-medium no-underline">${data[i].profile_name}</a>
                            <div class="skills flex flex-col">
                                <span class="subtitle text-slate-500">${data[i].username}</span>
                            </div>
                        </div>
                    </div>
                </div>
            `)
            }
        })
    })
</script>
{% endblock %}