{% extends "layout.html" %}

{% block content %}
<p>Hello {{ user_entity['profile_name'] }}</p>
<p>Main feed</p>
<ul>
    <li>
        <a href="/user/{{ user_id }}">Profile</a>
    </li>
</ul>

<!-- <form action="" id="search-form">

</form> -->


<input type="search" id="search">
<button id="search-btn">search</button>


<h5>results</h5>
<div id="results"></div>

<h5>timeline</h5>
<div id="my-timeline"></div>



<script>
    $(document).ready(function () {

        // search
        $("#search-btn").click(function () {
            key_word = $('#search').val();
            $.get(`/api/user/${key_word}/search`, function (data, status) {
                console.log(data);

                // render search results in html
                for (i = 0; i < data.length; i++) {
                    url = `/user/${data[i].user_id}`;
                    $("#results").append(`<a href="${url}">${data[i].profile_name}</a>`);
                }

            });
        });


        // get timeline posts
        $.get("/api/post/timeline", function (data, status) {
            console.log(data)


            // render each post
            for (i = 0; i < data.length; i++) {
                $("#my-timeline").append(

                    `
                    <div>
                        <div>
                            <img height = "100" src="${data[i].image_url}" alt="" id="">
                            <br>
                            <caption>${data[i].caption}</caption>
                            <div id="comments">Comments</div>
                        </div>

                        <form id="comment-form" action="/api/post/${data[i].post_id}/${data[i].publisher}/comment" method="post">
                            <label for="comment"></label>
                            <input id="comment" type="text" name="comment" placeholder="Add comment..">
                            <button type="submit">post</button>
                        </form>
                        
                        <br>
                    </div>
                    
                    `
                )

                // render comments for each post


            }
        })

    });
</script>
{% endblock %}