{% extends "layout.html" %}

{% block content %}
<h3> User profile </h3>
<p>Profile Name:</p>
<p id="profile_name"></p>

<p>User Name: </p>
<p id="username"></p>


<br>
<br>

Following
<a href="/user/{{ user_id }}/following">
    <button id="following"></button>
</a>

Followers
<a href="/user/{{ user_id }}/followers">
    <button id="followers"></button>
</a>


<br>
<br>

<h4>add post</h4>
<form action="/post" method="post" enctype="multipart/form-data">
    Upload File: <input type="file" name="file_name" />

    <label for="caption">Caption</label>
    <input type="text" name="caption" id="caption">

    <button type="submit">Post</button>
</form>

<!-- <img src="https://storage.googleapis.com/calendar-383306.appspot.com/photo-1594282486552-05b4d80fbb9f.jpg" alt=""> -->

<h4>my posts</h4>
<div id="posts"></div>

{% if error_message %}
<p>error: {{ error_message }}</p>
{% endif %}


<script>
    $(document).ready(function () {
        // get user_id
        $.get(`http://127.0.0.1:8080/api/user/id`, function (data, status) {
            user_id = data.user_id

            // get profile data
            $.get(`http://127.0.0.1:8080/api/user/${user_id}`, function (data, status) {

                // render dynamic data
                $("#username").text(data.username)
                $("#profile_name").text(data.profile_name)
                $("#following").text(data.following)
                $("#followers").text(data.followers)
            })
        })

        // get posts
        $.get("http://127.0.0.1:8080/post", function (data, status) {
            console.log(data);
            for (dat in data) {
                $("#posts").append(`<p> post ${dat}</p>`)
            }
        });
    });
</script>

{% endblock %}